@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  .section {
    background-color: #3d385a;
    color: #fff;
    height: calc(100vh - 114px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 1000px;
    overflow: hidden;
  }
  .phone, 
  .tablet,
  .desktop {
    background-color: #fff;
    box-shadow: 13px 13px 32px 0 rgba(242, 57, 90, .3);
    position: absolute;
    transition: 0.5s;
    transform: translateY(100%);
    padding: 50px;
  }
  .section:hover .phone,
  .section:hover .tablet,
  .section:hover .desktop {
    transform: translateY(-70px) rotateY(-10deg);
  }
  .phone {
    width: 200px;
    height: 280px;
    left: 5%;
    bottom: 0;
    background-color: #6495ED;
    z-index: 3;
    transition-delay: 0.2s;
  }
  .tablet {
    width: 360px;
    height: 380px;
    background-color: #5F9EA0;
    bottom: 0;
    left: 10%;
    z-index: 1;
    transition-delay: 0.4s;
  }
  .desktop {
    width: 680px;
    height: 480px;
    background-color: #008B8B;
    bottom: 0;
    left: 15%;
    transition-delay: 0.6s; 
}